<!doctype html>
<html lang="es">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
                                <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
                                <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>

    <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Django test</title>
  </head>

  <body>
    <div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Trabajo final django</h3>
            <br>
            <br>

            <h4>Autores</h4>
            <br>

            <p>Erick Nieto</p>
            <p>Oscar Castillo</p>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Calculadora Salarial</h3>
                    <div class="row register-form">
                        <div class="col-md-12">
                            <form method="GET" action="{% url 'submitquery'%}" class="row">
                                <div class="form-group col-6">
                                    <input type="text" class="form-control" placeholder="Ingrese su salario total mensual" name="query" id="query" value="{{salary}}"/>
                                </div>
                                <div class="row col-6">
                                    <div class="col-6">
                                        <input type="submit" value="Calcular" class="btn btn-success" style="display: block;margin: 0 auto;">
    
                                    </div>
                                    <div class="col-6">
                                        <a href="{% url 'submitquery' %}" class="btn btn-danger" style="display: block;margin: 0 auto;">Limpiar</a>

                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="result">
                                    <label class="title">
                                        <h3>Pago Neto</h3> 
                                    </label>
                                    <span class="subtitle">
                                        <h3>${{netoSalary | default:0}}</h3> 
                                    </span>
    
                                    <label class="title">
                                        <h5>Salario</h5>
                                    </label>
                                    <span class="subtitle">
                                        <h5>${{salary | default:0}}</h5> 
                                    </span>
    
                                    <label class="title">
                                        <p>Salud Obligatoria</p> 
                                    </label>
                                    <span class="subtitle">
                                        <p>- ${{healthPension | default:0}}</p>  
                                    </span>
                                    
                                    <label class="title">
                                        <p>Auxilio de transporte</p> 
                                    </label>
                                    <span class="subtitle">
                                        <p>${{transp | default:0}}</p>  
                                    </span>
    
                                    <label class="title">
                                        <p>Fondo de solidaridad</p> 
                                    </label>
                                    <span class="subtitle">
                                        <p>- ${{solidFund | default:0}}</p>  
                                    </span>
                                </div>
                                <div style=" width: 45%; margin-top: 2.5rem">
                                    <div id="chart"></div>
                                <div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script>

    let div = document.getElementById('chart');
    const canvas = document.createElement("canvas");
    let ctx = canvas.getContext("2d");
    new Chart(ctx, {{ data| safe}}?.chart);
    div.appendChild(canvas);


</script>
  </body>

</html>